<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Authors</span>
    <span class="badge badge-secondary badge-pill">{{authors.length}}</span>
</h4>
<ul class="list-group mb-3">
    <li class="list-group-item cursor-point d-flex justify-content-between lh-condensed" *ngFor="let author of authors" (click)="change(author)">
        <div>
            <h6 class="my-0">{{author.name}}</h6>
            <small class="text-muted">{{author.email}}</small>
        </div>
        <span class="text-muted">{{author.posts.length}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed" *ngIf="authors.length ==0">
        <div class="alert alert-info text-center">
            There are not author register click in <button mat-raised-button color="success" [routerLink]="['/author/create/0']">
                <mat-icon class="md-16">add_box</mat-icon> Nuevo
            </button> to create new.
        </div>
    </li>
</ul>