    <div class="container">
        <div class="py-5 text-center">
            <h2>AUTHOR AND HER PUBLICATIONS</h2>
            <p class="lead">This site show all author and her publications</p>
            
            <button mat-raised-button class="m-r-20" color="default" [routerLink]="['/home']">
                <mat-icon class="md-16">home</mat-icon> Home
            </button>

            <button mat-raised-button class="m-r-20" color="primary" [routerLink]="['/author/list']">
                <mat-icon class="md-16">person</mat-icon> Authors
            </button>
        </div>

        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2019 Test Project</p>
        </footer>
    </div>